# CREATE PANDAS DATA FRAME

In [1]:
import pandas as pd

In [2]:
 emptydf=pd.DataFrame()
 print(emptydf)

Empty DataFrame
Columns: []
Index: []

# ##create from list

In [3]:
lst=['a','b','c']

In [6]:
df1=pd.DataFrame(lst)
print(df1)

   0
0  a
1  b
2  c

In [7]:
df1

   0
0  a
1  b
2  c

# crrate from list of list

In [10]:
dflol=[[1,2,3],[2,3,4],[3,4,5]]
print(dflol)

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [11]:
df2=pd.DataFrame(dflol)
df2

   0  1  2
0  1  2  3
1  2  3  4
2  3  4  5

# by dictionary

In [13]:
dfdic={"Id":[1,2,3,4]}
dfdic

{'Id': [1, 2, 3, 4]}

In [14]:
df3=pd.DataFrame(dfdic)
df3

   Id
0   1
1   2
2   3
3   4

In [21]:
dfdic1={"Id":[1,2,3,4],"sn":[3,4,5,6]}
dfdic1
#array must be of single lenght

{'Id': [1, 2, 3, 4], 'sn': [3, 4, 5, 6]}

In [22]:
df4=pd.DataFrame(dfdic1)
df4

   Id  sn
0   1   3
1   2   4
2   3   5
3   4   6

# list of dictionaies

In [27]:
ls_dic=[{"a":1,"b":2},{"a":2,"b":2}]
ls_dic

[{'a': 1, 'b': 2}, {'a': 2, 'b': 2}]

In [28]:
df5=pd.DataFrame(ls_dic)
df5

   a  b
0  1  2
1  2  2

In [29]:
ls_dic=[{"a":1,"b":2},{"a":2,"b":2,"c":5}]
df5=pd.DataFrame(ls_dic)
df5

   a  b    c
0  1  2  NaN
1  2  2  5.0

# dic oif series

In [31]:
dicsr={"id":pd.Series([1,2,3]),"sn":[11,22,343]}
df6=pd.DataFrame(dicsr)
df6

   id   sn
0   1   11
1   2   22
2   3  343