In [1]:
import pandas as pd

In [2]:
#check version
pd.__version__

'0.25.1'

# SERIES DATA STRUCTURE

In [3]:
#series can be created by the help of list
l1=[1,3,-3,6.2,"data values"]
print(l1)

[1, 3, -3, 6.2, 'data values']

In [4]:
#with the help of this list create series
#Series method
series1=pd.Series(l1)
print(series1)

0              1
1              3
2             -3
3            6.2
4    data values
dtype: object

In [6]:
type(series1) #1d index array

pandas.core.series.Series

In [8]:
series2=pd.Series([1,2,3,4])
print(series2)

0    1
1    2
2    3
3    4
dtype: int64

In [10]:
empty=pd.Series([])
print(empty)

Series([], dtype: float64)

In [12]:
series3=pd.Series( [1,2,3,4] , index= ['a','b','c','d'] )
print(series3)

a    1
b    2
c    3
d    4
dtype: int64

In [13]:
series3=pd.Series( [1,2,3,4] , index= ['a','b','c','d'], dtype=float )
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [14]:
series3=pd.Series( [1,2,3,4] , index= ['a','b','c','d'], dtype=float ,name="data values")
print(series3)
#set col name

a    1.0
b    2.0
c    3.0
d    4.0
Name: data values, dtype: float64

In [16]:
#this series is creted by list 
#now create by sclae valyues
#single value
scalar=pd.Series(0.5)
print(scalar)

0    0.5
dtype: float64

In [17]:
scalar=pd.Series(0.5, index=[1,2,3])
print(scalar)

1    0.5
2    0.5
3    0.5
dtype: float64

In [19]:
#with the help of dictionaries
dic=pd.Series({"a":1,"b" :2})
print(dic)

a    1
b    2
dtype: int64

# slicing series

In [20]:
s4=pd.Series([1,2,3,4,])
print(s4)

0    1
1    2
2    3
3    4
dtype: int64

In [21]:
s4[0]

1

In [22]:
s4[0:3]

0    1
1    2
2    3
dtype: int64

In [24]:
max(s4)

4

In [25]:
min(s4)

1

In [26]:
s4[s4>3]

3    4
dtype: int64

# MATHEMATICAL OPERATION

In [27]:
s4

0    1
1    2
2    3
3    4
dtype: int64

In [28]:
s5=pd.Series([1,2,3,4])
print(s5)

0    1
1    2
2    3
3    4
dtype: int64

In [29]:
s4+s5

0    2
1    4
2    6
3    8
dtype: int64

In [31]:
#unequal
s6=pd.Series([1,2,3])
print(s6)

0    1
1    2
2    3
dtype: int64

In [32]:
s5+s6
#not a number NaN
#handling missing data

0    2.0
1    4.0
2    6.0
3    NaN
dtype: float64