# Read tabular data file

In [7]:
import pandas as pd

In [2]:
pd.read_table("http://bit.ly/chiporders")

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [3]:
pd.read_table("http://bit.ly/movieusers")

          1|24|M|technician|85711
0              2|53|F|other|94043
1             3|23|M|writer|32067
2         4|24|M|technician|43537
3              5|33|F|other|15213
4          6|42|M|executive|98101
..                            ...
937        939|26|F|student|33319
938  940|32|M|administrator|02215
939        941|20|M|student|97229
940      942|48|F|librarian|78209
941        943|22|M|student|77841

[942 rows x 1 columns]

In [4]:
col_name=["user_id","age ","gender","occupation","zip_code"]
pd.read_table("http://bit.ly/movieusers",sep="|",header=None,names=col_name)

     user_id  age  gender     occupation zip_code
0          1    24      M     technician    85711
1          2    53      F          other    94043
2          3    23      M         writer    32067
3          4    24      M     technician    43537
4          5    33      F          other    15213
..       ...   ...    ...            ...      ...
938      939    26      F        student    33319
939      940    32      M  administrator    02215
940      941    20      M        student    97229
941      942    48      F      librarian    78209
942      943    22      M        student    77841

[943 rows x 5 columns]

## Select Pandas series from a Dataframe

In [31]:
ufo_data=pd.read_csv("http://bit.ly//uforeports")
#uses comma as a default seperators

In [32]:
type(ufo_data)

pandas.core.frame.DataFrame

In [33]:
ufo_data

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [10]:
ufo_data["Colors Reported"]

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
18236    NaN
18237    NaN
18238    NaN
18239    RED
18240    NaN
Name: Colors Reported, Length: 18241, dtype: object

#### ADD A NEW SERIES

In [13]:
ufo_data["Location"]=ufo_data.City + "," +ufo_data.State

In [14]:
ufo_data

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca,NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro,NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke,CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene,KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair,NY"
...,...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00,"Grant Park,IL"
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00,"Spirit Lake,IA"
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45,"Eagle River,WI"
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45,"Eagle River,WI"
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59,"Ybor,FL"

### PANDAS COMMANDS

In [15]:
movies=pd.read_csv("http://bit.ly//imdbratings")

In [16]:
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [19]:
movies.describe() #descriptive Statistics #METHODS

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [22]:
movies.describe(include=["object"]) #dtype = object

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,The Girl with the Dragon Tattoo,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

In [20]:
movies.dtypes  #ATTRIBUTES

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [21]:
movies.shape #ATTRIBUTES

(979, 6)

# Rename columns

In [23]:
ufo_data.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time',
       'Location'],
      dtype='object')

In [27]:
ufo_data.rename(columns={
    "Colors Reported" : "Color_Reported",
    "Shape Reported" : "Shaper_Reported",
}, inplace=True)

In [28]:
ufo_data

,City,Color_Reported,Shaper_Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca,NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro,NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke,CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene,KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair,NY"
...,...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00,"Grant Park,IL"
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00,"Spirit Lake,IA"
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45,"Eagle River,WI"
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45,"Eagle River,WI"
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59,"Ybor,FL"

###### Modify all names

In [30]:
ufo_col=["city","color_reported","shape_reported","state","time"]

In [35]:
ufo_data.columns=ufo_col

In [36]:
ufo_data

,city,color_reported,shape_reported,state,time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

##### RENAME WHILE READING

In [47]:
ufo_data=pd.read_csv("http://bit.ly//uforeports", names=ufo_col,header=0)

In [48]:
ufo_data

,city,color_reported,shape_reported,state,time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

####  Bonus

In [49]:
ufo_data.columns=ufo_data.columns.str.replace('_',"-")

In [50]:
ufo_data

,city,color-reported,shape-reported,state,time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

## Remove Columns

In [51]:
ufo_data.drop("color-reported",axis=1,inplace=True) 
#1=col

# ufo_data.drop(["city","State"],axis=1,inplace=True)

In [52]:
ufo_data

                       city shape-reported state              time
0                    Ithaca       TRIANGLE    NY    6/1/1930 22:00
1               Willingboro          OTHER    NJ   6/30/1930 20:00
2                   Holyoke           OVAL    CO   2/15/1931 14:00
3                   Abilene           DISK    KS    6/1/1931 13:00
4      New York Worlds Fair          LIGHT    NY   4/18/1933 19:00
...                     ...            ...   ...               ...
18236            Grant Park       TRIANGLE    IL  12/31/2000 23:00
18237           Spirit Lake           DISK    IA  12/31/2000 23:00
18238           Eagle River            NaN    WI  12/31/2000 23:45
18239           Eagle River          LIGHT    WI  12/31/2000 23:45
18240                  Ybor           OVAL    FL  12/31/2000 23:59

[18241 rows x 4 columns]

### REMOVE ROWS

In [53]:
ufo_data.drop([0,2,3,5],axis=0,inplace=True)

In [54]:
ufo_data

                       city shape-reported state              time
1               Willingboro          OTHER    NJ   6/30/1930 20:00
4      New York Worlds Fair          LIGHT    NY   4/18/1933 19:00
6               Crater Lake         CIRCLE    CA    6/15/1935 0:00
7                      Alma           DISK    MI    7/15/1936 0:00
8                   Eklutna          CIGAR    AK  10/15/1936 17:00
...                     ...            ...   ...               ...
18236            Grant Park       TRIANGLE    IL  12/31/2000 23:00
18237           Spirit Lake           DISK    IA  12/31/2000 23:00
18238           Eagle River            NaN    WI  12/31/2000 23:45
18239           Eagle River          LIGHT    WI  12/31/2000 23:45
18240                  Ybor           OVAL    FL  12/31/2000 23:59

[18237 rows x 4 columns]

# SORT SERIES

In [1]:
movies= pd.read_csv("http://bit.ly/imdbratings")

NameError: name 'pd' is not defined

In [2]:
movies.head()

NameError: name 'movies' is not defined

In [5]:
movies.titles.sort_values()

#movies["title"].sort_vlaues()
#type(movies["title"].sort_vlaues()) #series 
#ascending=False
#it dose not change original data

NameError: name 'movies' is not defined

## Sort the data frame with particular column

In [6]:
movies.sort_values("title") #entire Dataframe

NameError: name 'movies' is not defined

###### old way to sort a series
movies.title.order()
###### old way to sort a Dataframe 
movies.sort("titles")

### Sort wtr to mutiple columns

In [8]:
movies.sort_values(["title","duration"])

NameError: name 'movies' is not defined

# FILTER ROWS OF DF BY COL VALUE

goal : all colums but row that have duration of 200
we are going to create alist of boolen consiting true where duration is 200

In [10]:
booleans=[]
# series a mutable
for length in movies.duration:
    if length >=200:
        booleans.append(True)
    else :
        booleans.append(False)

NameError: name 'movies' is not defined

In [11]:
len(booleans)

0

In [12]:
#covert bolean list to pandas series

In [13]:
is_long = pd.Series(booleans)

In [14]:
movies[is_long] #display row only of 200>= duration

NameError: name 'movies' is not defined

## Another method

In [15]:
is_long= movies.duration>=200

NameError: name 'movies' is not defined

In [17]:
#or
movies[ movies.duration>=200]

NameError: name 'movies' is not defined

  #####  Now if you only concern about genre col

In [18]:
movies[ movies.duration>=200].genre
#or
#movies[ movies.duration>=200].['genre']

NameError: name 'movies' is not defined

In [19]:
or
movies.loc[ movies.duration>=200,'genre']

SyntaxError: invalid syntax (<ipython-input-19-4e52adceedda>, line 1)

# MUTIPLE FILTER CRITERIA

GOAL : Only row who has genre drama and duration grateer than 200

In [20]:
movies[ (movies.duration>=200) & (movies.genre == "Drama")]

NameError: name 'movies' is not defined

 ### Mutiple condition

In [21]:
movies[ (movies.genre == "Crime") | (movies.genre == "Drama")| (movies.genre == "Action") ]

NameError: name 'movies' is not defined

##### or

In [22]:
movies.genre.isin(["crime","drame","action"]) #generates aboolean series

NameError: name 'movies' is not defined

In [23]:
movies[movies.genre.isin(["crime","drame","action"])]

NameError: name 'movies' is not defined

### READ ONLY SPECIFIC COLS

In [25]:
movies= pd.read_csv("http://bit.ly/imdbratings" , usecols=["City","State"]) #or [0,4]

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

#### read only few rows

In [26]:
movies= pd.read_csv("http://bit.ly/imdbratings" , nrows=3)

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

## SELECT ONLY  INT COL

In [27]:
drinks= pd.read_csv('https://bit.ly//drinksbycountry')

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [28]:
drinks.dtypes

NameError: name 'drinks' is not defined

In [29]:
import numpy as np
drinks.select_dtypes(include= [np.number]).dtypes

NameError: name 'drinks' is not defined

 ### DESCRIBE ONLY SPECIFIC DTYPES

In [32]:
drinks.describe(include=["float64"])

NameError: name 'drinks' is not defined

# Axis parameter

In [33]:
drinks.drop(2, axis=0).head()

NameError: name 'drinks' is not defined

In [34]:
#mean give us a series mean
drinks.mean()

NameError: name 'drinks' is not defined

In [36]:
drinks.mean(axis=1)
#0r index or col

NameError: name 'drinks' is not defined

# STRING METHODS IN PYTHON

In [37]:
orders = pd.read("https://bit.ly//chiporders")

AttributeError: module 'pandas' has no attribute 'read'

In [39]:
#lets make item name uppercase
orders.item_number.str.upper()

NameError: name 'orders' is not defined

In [40]:
orders.item_number.str.contains("chicken")

NameError: name 'orders' is not defined

In [41]:
orders[orders.item_number.str.contains("chicken")]

NameError: name 'orders' is not defined

### Replace

In [42]:
order.choice_description.str.replace("[","").str.replace("]","")

NameError: name 'order' is not defined