In [1]:
#WHEN STRING TYPE OF DAAT AND NEED TO TO PERFORM OPERATION
import numpy as np

In [2]:
#generate string
ch_name="DANIYA NIAZI"
str1="Learning Numpy"

In [3]:
np.char.add(ch_name,str1)
#numpy has char module which has add method

array('DANIYA NIAZILearning Numpy', dtype='<U26')

In [4]:
#lowercase
np.char.lower(ch_name)

array('daniya niazi', dtype='<U12')

In [5]:
np.char.upper(ch_name)

array('DANIYA NIAZI', dtype='<U12')

In [6]:
#to center string ,lenght
np.char.center(ch_name,60)

array('                        DANIYA NIAZI                        ',
      dtype='<U60')

In [7]:
np.char.center(ch_name,60, fillchar="*")

array('************************DANIYA NIAZI************************',
      dtype='<U60')

In [8]:
#sentence split str to list
np.char.split(str1)

array(list(['Learning', 'Numpy']), dtype=object)

In [9]:
np.char.splitlines("hello\npakistan")
#when you have a file line by line to split lines

array(list(['hello', 'pakistan']), dtype=object)

In [11]:
#join method har aik char ko kisi char ke stath join kena ho
str2="dmy"
str3="dmy"
np.char.join([":","/"],[str2,str3])

array(['d:m:y', 'd/m/y'], dtype='<U5')

In [13]:
#word replace bt another
np.char.replace(str1,"Numpy","python numpy")

array('Learning python numpy', dtype='<U21')

In [14]:
np.char.equal(str2,str3)

array(True)

In [16]:
#char count in string
np.char.count(ch_name,"A")

array(3)

In [18]:
np.char.find(ch_name,"a")

array(-1)

In [ ]:
#ypu can also use is lower is alpha is upper